img.instruction {
  width:50px;
  height:50px;
  padding: 1rem;
  margin-bottom: 2rem;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  box-shadow: rgb(166, 195, 132) 0px 0px 40px;
}