.container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: rgb(139, 173, 100) 10px 10px 80px;
}

ul {
  padding: 0;
  display: flex;
}

ul>li {
  padding:10px 0px;
  margin: 0 20px;
  list-style: none;
  list-style-position: outside;
}

ul>li>button {
  font-size: 2em;
  background: none;
  cursor: pointer;
  padding:0;
  border:0;
}

.emojiNameContainer{
  height: 2rem;
}

h2 {
  color:whitesmoke;
  font-style: oblique;
  font-weight: 200;
  font-size: 1.75rem;
}
